.hidden {
    display: none;
}

.visible {
    display: block;
    font-size: 0.8em;
}


html {
    scroll-behavior: smooth;
}


/* Estilos para el texto */
body.custom-body {
    background-image: url('images/new_background.png');
    font-family: "Schoolbell", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 17px;
    background-size: contain;
}


/* PORTADA */


header {
    position: inherit;
    overflow: hidden;
    height: 300px;
}



/* BIENVENIDOS */

#bienvenidos {
    text-align: center;
    margin-top: 30px;
}

#bienvenidos h1 {
    color: #bdc767;
    font-family: "The Girl Next Door", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 30px 30px 10px 30px;
}

.bienvenidos-texto p {
    text-align: center;
    margin: 10px 30px 10px 30px;
    color: #b3bbad;
}

#bienvenidos img {
    max-width: 60%;
    height: auto;
    border-radius: 45px;
}




/* LOCATION */

#general-information {
    text-align: center;
    padding: 20px;
}

#general-information h1 {
    color: #bdc767;
    font-family: "The Girl Next Door", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 30px 30px 10px 30px;
}

.information-texto p {
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
    color: #b3bbad;
    font-size: 15px;
}

#general-information .elements {
    width: 80%;
}

.location-container-iglesia{
    display: flex;
    /* Flexbox para alinear elementos en línea */
    align-items: center;
    margin-left: 12px;
}

.location-container-finca{
    display: flex;
    /* Flexbox para alinear elementos en línea */
    align-items: center;
    margin-left: 34px;
    width: 134%;
}

#general-information .wine {
    margin: -71px 10px -133px -239px;
    width: 16%;
    rotate: 10deg;
}

#general-information .location {
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: 30px;
}



/* ASISTENCIA */

#asistencia {
    text-align: center;
    padding: 40px 20px;
}

#asistencia h1 {
    color: #bdc767;
    font-family: "The Girl Next Door", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 65px 30px 10px 30px;
}

#asistencia h2 {
    color: #bdc767;
}


#asistencia p {
    text-align: center;
    margin: 10px 30px 10px 30px;
    color: #b3bbad;
}

#asistencia img {
    margin: -83px -231px 10px 30px;
    height: 80px;
}

#asistencia .olivo {
    margin: -650px 10px -133px -239px;
    width: 16%;
    rotate: 10deg;
}

#asistencia .maletin {
    margin: 150px 10px -133px -239px;
    width: 16%;
    rotate: 10deg;
}

/* Responsivo */
@media only screen and (max-width: 600px) {
    .form-container-asist {
        padding: 20px;
        max-width: 90%;
    }

    #asistencia h1 {
        color: #bdc767;
        font-family: "The Girl Next Door", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        letter-spacing: 2px;
        margin: 65px 30px 10px 30px;
    }

    /* #asistencia p {
        font-size: 13px;
        font-family: "Schoolbell", sans-serif;
    } */
}

/* Formulario */
.form-container-asist {
    border-radius: 12px;
    padding: 30px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* max-width: 450px; */
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 16px;
    color: #a8353d;
    margin-top: 8px;
}

input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 0px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="tel"]:focus {
    border-color: #b3bbad;
    outline: none;
}

input::placeholder {
    color: #888888;
}

/* Radio buttons */
.checkbox-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

input[type="radio"] {
    margin-right: 8px;
}

label[for="acompanadoNo"],
label[for="acompanadoSi"] {
    font-size: 14px;
    color: #a8353d;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    z-index: 1000;
    width: max-content;
}

@media only screen and (max-width: 600px) {
    #popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: white;
        z-index: 1000;
        width: 350px;
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    /* Ajusta el tamaño según sea necesario */
    height: 20px;
    /* Ajusta el tamaño según sea necesario */
}

.modal {
    display: none;
    /* Inicialmente oculto */
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo oscuro semitransparente */
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

/* .add-button,
.save-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover,
.save-button:hover {
    background-color: black;
} */


/* Botón de enviar: Estilo Business */
button#submit {
    /* Azul corporativo */
    color: #bdc767;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 40px;
    border: none;
    border-radius: 50px;
    /* Bordes redondeados y modernos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    cursor: pointer;
    transition: all 0.3s ease;
}

button#submit:hover {
    background-color: black;
    /* Azul más oscuro para hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    /* Intensifica la sombra */
    transform: translateY(-2px);
    /* Ligero levantamiento al hacer hover */
}

button#submit:active {
    background-color: #b3bbad;
    /* Azul aún más oscuro al hacer clic */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    /* Reduce la sombra */
    transform: translateY(0);
    /* Elimina el levantamiento */
}


/* REGALOS */

#regalos {
    text-align: center;
    padding: 20px;
}

#regalos h1 {
    color: #bdc767;
    font-family: "The Girl Next Door", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 30px 30px 10px 30px;
}

.regalos-texto p {
    text-align: center;
    margin: 10px 30px 10px 30px;
    color: #b3bbad;
}

.plain-text {
    background: none;
    font-size: inherit;
    padding: 0;
    margin: 0;
}


/* FOOTER */
.pre-footer {
    max-width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .pre-footer {
        max-width: 40%;
    }
}

footer {
    background-color: #dee4a8;
    padding: 10px;
    color: white;
}

.footer-content p {
    text-align: center;
    font-weight: 200;
}